USE [ID_BT]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPO_PARTIDO]') AND type in (N'U'))
DROP TABLE [dbo].[TIPO_PARTIDO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PARTIDO](
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL
 CONSTRAINT [PK_TIPO_PARTIDO] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF