USE [ID_BT]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRONOSTICO_METODO_AP]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRONOSTICO]'))
ALTER TABLE [dbo].[PRONOSTICO] DROP CONSTRAINT [FK_PRONOSTICO_METODO_AP]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRONOSTICO_PARTIDO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRONOSTICO]'))
ALTER TABLE [dbo].[PRONOSTICO] DROP CONSTRAINT [FK_PRONOSTICO_PARTIDO]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRONOSTICO]') AND type in (N'U'))
DROP TABLE [dbo].[PRONOSTICO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRONOSTICO](
	[cd_Metodo] [int] NOT NULL,
	[codigo] [int] NOT NULL,
	[cd_liga] [int] NOT NULL,
	[temporada] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[fecha_str] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[equipo_local] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[resultado] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[stake] [int] NOT NULL,
 CONSTRAINT [PK_PRONOSTICO] PRIMARY KEY CLUSTERED 
(
	[cd_Metodo] ASC,
	[codigo] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PRONOSTICO]  WITH NOCHECK ADD  CONSTRAINT [FK_PRONOSTICO_METODO_AP] FOREIGN KEY([cd_Metodo])
REFERENCES [dbo].[METODO_AP] ([Codigo])
GO
ALTER TABLE [dbo].[PRONOSTICO] CHECK CONSTRAINT [FK_PRONOSTICO_METODO_AP]
GO
ALTER TABLE [dbo].[PRONOSTICO]  WITH NOCHECK ADD  CONSTRAINT [FK_PRONOSTICO_PARTIDO] FOREIGN KEY([cd_liga], [temporada], [fecha_str], [equipo_local])
REFERENCES [dbo].[PARTIDO] ([cd_liga], [temporada], [fecha_str], [equipo_local])
GO
ALTER TABLE [dbo].[PRONOSTICO] CHECK CONSTRAINT [FK_PRONOSTICO_PARTIDO]